{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ instruction.title }} - Instruction Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'site/favicon.ico' %}">
</head>
<body>
    {% include 'nav.html' %}
    <div class="container mt-5">
        <h2>{{ instruction.title }}</h2>
        <img src="{{ instruction.image.url }}" class="img-fluid" alt="{{ instruction.title }}">
        <p class="mt-3">{{ instruction.description }}</p>
        {{ instruction.article|safe }}
    </div>
    {% include 'footer.html' %}
</body>
</html>
