{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наши инструкции - Ardulove</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'site/favicon.ico' %}">
</head>
<body>
{% include 'nav.html' %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Наши инструкции</h2>
        <button class="btn btn-dark-custom" type="button" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
            Показать/Скрыть фильтр
        </button>
    </div>

    <div class="collapse mb-3" id="filterCollapse">
        <form method="GET" action="{% url 'instruction_list' %}">
            <div class="form-group">
                <label for="tag">Фильтр по тегам:</label>
                <select id="tag" name="tag" class="form-control" onchange="this.form.submit()">
                    <option value="">Все</option>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}" {% if tag.id|stringformat:"s" == selected_tag %}selected{% endif %}>{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div class="row">
        {% for instruction in instructions %}
            <div class="col-md-6">
                <div class="card my-3">
                    <img src="{{ instruction.image.url }}" class="card-img-top" alt="{{ instruction.title }}" style="height: 450px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ instruction.title }}</h5>
                        <p class="card-text">{{ instruction.description }}</p>
                        <a href="{% url 'instruction_detail' instruction_id=instruction.id %}" class="btn btn-dark">Подробнее</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Теги:
                            {% for tag in instruction.tags.all %}
                                <span class="badge badge-secondary">{{ tag.name }}</span>
                            {% endfor %}
                        </small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'footer.html' %}

<!-- Подключение JS Bootstrap и зависимостей -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-pzjw8f+ua7Kw1TIqD4pXr+8abtTE1Pi6PViWg0PpKuH4XlEyUjHh7/zZO0gB4l+N" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgL+6YvExj6mW4/JaaKz0k5FWEpZZpccyD8y7GJK6tIT06eqdDt" crossorigin="anonymous"></script>

</body>
</html>
