<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'site/favicon.ico' %}" type="image/x-icon">
    <title>Ardulove</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'site/main_logo.png' %}" alt="Ardulove Logo" style="max-height: 45px;">
        </a>

        <!-- Add responsive navigation toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instructions">Инструкции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Магазин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Контакты</a>
                </li>
            </ul>
            <span class="navbar-text">
                Свяжитесь с нами: <a href="tel:+79774660777">+7(977)466-07-77</a>
            </span>
        </div>
    </div>
</nav>


</html>
